body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: white;
      
    box-sizing: border-box;
    color: #35465d;
  }
  
  .file-upload {
    
    
    margin: 0 auto;
    padding: 13% 7%;
    border-radius: 10px;
    border: solid 1.5px #f6f7fa;
    background-color: white;
    
  }
  
  .file-upload-btn {
    width: 100%;
    margin: 0;
    color: #fff;
    background: lightskyblue;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid lightskyblue;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  }
  
  .file-upload-btn:hover {
    background: lightskyblue;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  }
  
  .file-upload-btn:active {
    border: 0;
    transition: all .2s ease;
  }
  
  .file-upload-content {
    display: none;
    text-align: center;
  }
  
    
  .loading {
    position: relative;
    width: 300px;
    height: 50px;
    margin: 50px auto;
}

.circle {
    width: 35px;
    height: 35px;
    background-color: grey;
    position: absolute;
    border-radius: 50%;
}

.circle:first-of-type {
    top: 0;
    left: 65px;
    animation: bounce 1s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;    
}

.circle:nth-of-type(2) {
    top: 0;
    left: 120px;
    animation: bounce 1s;
    animation-delay: 0.3s;
    animation-iteration-count: infinite; 
}

.circle:last-of-type {
    top: 0;
    left: 175px;
    animation: bounce 1s;
    animation-timing-function: 0.5s;
    animation-iteration-count: infinite; 
}


@keyframes bounce {
    0%, 100%{top:0}
    50%{top: -50px; background-color: pink;}
}

  
  .file-upload-input {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    outline: none;
    opacity: 0;
    cursor: pointer;
  }
  
  .image-upload-wrap {
    
    
    position: relative;
    object-fit: contain;
    border-radius: 10px;
    
    background-color: #ffffff;
  }
  
  .image-dropping,
  .image-upload-wrap:hover {
    background-color: #ffffff;
    
  }
  
  .image-title-wrap {
    padding: 0 15px 15px 15px;
    color: #222;
  }
  
  .drag-text {
    text-align: center;
  }
  
  .drag-text h3 {
    font-weight: 100;
    text-transform: uppercase;
    color: #141619;
    padding: 60px 0;
    line-height: 2;
    width: 50%;
    margin: 0 auto;
    font-size: 1.5rem;
  }
  
  .file-upload-image {
    max-height: 200px;
    max-width: 200px;
    margin: auto;
    padding: 20px;
  }
  
  
  .try-again-btn {
    border-radius: 40px;
    border: solid 1.5px #4db3e4;
    background-color: #4db3e4;
  }
  
  .try-again-text {
    display: block;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff;
    padding: 4px 15px;
  }
  
  * .remove-image {
    width: 200px;
    margin: 0;
    color: #fff;
    background: #cd4535;
    border: none;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 4px solid #b02818;
    transition: all .2s ease;
    outline: none;
    text-transform: uppercase;
    font-weight: 700;
  } 
  
   .remove-image:hover {
    background: #c13b2a;
    color: #ffffff;
    transition: all .2s ease;
    cursor: pointer;
  } 
  
   .remove-image:active {
    border: 0;
    transition: all .2s ease;
  } 
  
  .nav-dist {
      padding: 2.5% 8%;
  }
  
  .navbar-light .navbar-brand {
      
      font-family: sans-serif; 
      
      line-height: 1.68;
      text-align: left;
      color: #35465d;
  }
  
  .section {
      margin-top: 80px;
  }
  
  .title {
      font-family: sans-serif; 
      
      line-height: 1.67;
      text-align: center;
      color: #35465d;
  }
  
  .subtitle {
      font-family: sans-serif; 
      
      line-height: 1.53;
      text-align: center;
      color: #35465d;
  }
  
  
  @media screen and (max-width: 600px) {
    html {
      font-size: 10px;	 
    }
      .navbar-brand {
          font-size: 2.2rem;
      }
  }
  
  
  .upload-image {
      margin: 0 auto;
  }
  
  
  
  .upload {
      width: 20%;
  }
  
  .upload-text {
      width: 58%;
      font-size: 1.5rem;
      line-height: 1.53;
      text-align: center;
      color: #35465d;
      margin: 0 auto;
  }
  
  
  .bar-container {
    height: 2.7rem;
  }
  .enterprise-box {
    position: absolute;
    top: 0;
    left: 0;	
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
  }
  .enterprise-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
  }
  .sport-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(117, 204, 84, 0.2);
  }
  .sport-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(117, 204, 84, 1);
  }
  .movie-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(27, 175, 234, 0.2);
  }
  .movie-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(27, 175, 234, 1);
  }
  .science-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(251, 176, 59, 0.2);
  }
  .science-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(251, 176, 59, 1);
  }
  .great-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(195, 140, 102, 0.2);
  }
  .great-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(195, 140, 102, 1);
  }
  
  .model-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(27, 175, 234, 0.2);
  }
  .model-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(27, 175, 234, 1);
  }
  .wannabe-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(251, 176, 59, 0.2);
  }
  .wannabe-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(251, 176, 59, 1);
  }
  .celeb-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(195, 140, 102, 0.2);
  }
  .celeb-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgba(195, 140, 102, 1);
  }

  .leader-box {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    width: 100%;
    background-color: rgba(195, 140, 102, 0.2);
  }
  .leader-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 2rem;
    border-radius: 10px;
    background-color: rgb(102, 108, 195);
  }

 
  .percent-text {
    font-size: 1rem;
    color: #ffffff;
  }
  .people-label {
      width: 20%;
      text-align: left;
      height: 2rem;
  }
  #label-container {
      width: 80%;
      margin: 0 auto;
  }
  .result-message {
      font-size: 2rem;
  }
  
  
  .people-explain {
      font-size: 1.5rem;
  }
  .enterprise-people-title {
      color: #3ba363;
  }
  .enterprise-people-celeb {
      color: #3ba363;
      font-size: 1.2rem;
  }
  .sport-people-title {
      color: #3ba363;
  }
  .sport-people-celeb {
      color: #3ba363;
      font-size: 1.2rem;
  }
  .science-people-title {
      color: #ff6c0a;
  }
  .science-people-celeb {
      color: #ff6c0a;
      font-size: 1.2rem;
  }
  .movie-people-title {
      color: #548dd4;
  }
  .movie-people-celeb {
      color: #548dd4;
      font-size: 1.2rem;
  }
  
  .great-people-title {
      color: #9b6b43;
  }
  .great-people-celeb {
      color: #9b6b43;
      font-size: 1.2rem;
  }
  
   
/* gender */
input#sex {
  display: none;
}

label {
  display: block;
  position: relative;
  width: 200px; height: 60px; 
  background: #d3d3d3;
  border-radius: 60px;
  transition: background .4s;
}

label:after {
  content: ""; position: absolute; 
  left: 7.5px; top: 50%; width: 45px; height: 45px;
  border-radius: 100%; background: #fff;
  transform: translateY(-50%);
  box-shadow: 1px 2px 3px rgba(0,0,0,0.2);
  transition: all .4s;
}

input:checked + label {background: rgb(126, 167, 245);}
input:checked + label:after {left:calc(100% - 52.5px);}

label span {
  display: none;
}

.ad-banner {
  width: 320px;
  margin: 0 auto;
}

.ad-banner1 {
  width: 300px;
  margin: 0 auto;
}

.ad-banner2 {
  width: 320px;
  margin: 0 auto;
}